header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #111 0%, #232323 100%);
}

nav.navbar{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2.logo{
    background: linear-gradient(180deg, #107FE1 0%, #08B8BE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Archivo",sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    width: 50%;
}

ul.nav-list-items{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 8px;
}

li.items{
    padding: 8px 24px;
    transition: ease-in 200ms;
    border-radius: 20px;
    
}

li.items:hover{
    transform: scale(1.1);
}

a.nav-links{
    color: white;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: ease-in 200ms;
    
}

a.nav-links:hover{
     background: linear-gradient(180deg, #107FE1 30%, #08B8BE 70%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
